<server description="Sample Liberty server">
    <variable name="POSTGRESQL_HOSTNAME" defaultValue="localhost"/>
    <variable name="POSTGRESQL_PORT" defaultValue="5432"/>

    <featureManager>
        <feature>microProfile-6.0</feature>
        <feature>jakartaee-10.0</feature>
    </featureManager>

    <httpEndpoint httpPort="9080" httpsPort="9443"
                  id="defaultHttpEndpoint" host="*"/>

    <!--    <application name="RealWorld" location="${appLocation}" type="war" context-root="/">-->
    <!--    </application>-->

    <!-- PostgreSQL Library Configuration -->
    <library id="postgresqlLib">
        <fileset dir="${shared.resource.dir}" includes="postgresql*.jar"/>
    </library>

    <dataSource id="DefaultDataSource" jndiName="jdbc/RealWorldSource">
        <jdbcDriver libraryRef="postgresqlLib"/>
        <properties.postgresql serverName="${POSTGRESQL_HOSTNAME}" portNumber="${POSTGRESQL_PORT}"
                               databaseName="postgres_db" user="postgres_user" password="S3cret"/>
    </dataSource>

    <cors domain="/api"
          allowedOrigins="http://localhost:4100"
          allowedMethods="GET, POST, PUT"
          allowedHeaders="*"
          allowCredentials="true"
          maxAge="3600"/>

    <!-- MP JWT configuration -->
    <mpJwt id="jwtHandler" issuer="https://192.168.1.15:9443/jwt/defaultJWT" authorizationHeaderScheme="Token "/>
</server>
